.dropzone {
  width: 100%;
  min-height: 200px;
  background: var(--PRIMARY_LIGHT_HOVER);
  border-radius: 15px;
  border: 2px dashed var(--PRIMARY_DARK);
  cursor: pointer;
}

.newFromSelected, .deleteSelected {
  background: var(--PRIMARY_LIGHT_HOVER);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  margin: 1rem 0;
  flex-direction: column;
}

.newFromSelectedInput {
  min-width: initial;
  width: 100%;
}

.newFromSelectedBtn, .deleteSelectedBtn {
  padding: 0 2rem;
  height: var(--INPUT_HEIGHT);
  margin: 1rem 0 0.5rem 0;
}

.deleteSelectedBtn{
  background: var(--ERROR_COLOR);
  margin: 0 1rem;
}

.reviewLinkDiv {
  margin: 1rem 0;
}

.reviewLink {
  width: 100%;
  word-wrap: break-word;
}

.copyIcon{
  cursor: pointer;
  margin: 0 1rem;
  font-size: 1.5rem;
}

.titleInput{
  width: 50vw;
  min-width: 220px;
  max-width: 400px;
}

.titleBtn{
  padding: 0 1rem;
}

@media only screen and (min-width: 600px) {
  .newFromSelected {
    flex-direction: row;
  }

  .deleteSelected{
    flex-direction: row;
  }

  .newFromSelectedBtn {
    margin: 0;
  }
}
